* {
    padding: 0px;
    margin: 0px;
}

/** Header **/

body {
    background-image: url("Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/** Logo **/

.LOGO {
    font-family: 'Sevillana', cursive;
    font-size: 50px;
    font-weight: 600;
    text-shadow: 10px 5px 10px #d71bce;
    padding-left: 10px;
}

/** Navbar **/

#navbar {
    font-size: 30px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    backdrop-filter: blur(10px);
    border-bottom: 2px solid black;
}

.nav-element {
    width: 60%;
    display: flex;
    justify-content: space-around;
}

a {
    text-decoration: none;
    font-family: 'Merriweather', serif;
    color: black;
}

/** Hover **/

.nav:hover {
    background-color: #A1EEBD;
    border: 2px solid white;
    border-radius: 10px;
}

/** Footer **/

.copyright {
    height: 30px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    font-size: 20px;
    border-top: 2px solid black;
    background-color: rgba(161, 238, 189, 0.7);
}

/** Main **/

main {
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 50px;
    height: 100vh;
}

p {
    font-size: 25px;
    font-family: 'Salsa', cursive;
    width: 500px;
}

.describe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
}

.reletde-ing {
    height: 250px;
    z-index: -1;
    filter: drop-shadow(10px 5px #A1EEBD);
}

.describe {
    border-bottom: 2px solid black;
}

.Message{
    padding-top: 30px;
    width: 100%;
    text-align: center;
}

.element {
    padding-top: 10px;
    padding-left: 10px;
}

ul {
    padding-left: 80px;
    font-size: 25px;
}

.thankyou {
    font-size: 25px;
    font-family: 'Salsa', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}
